:root {
    color-scheme: light dark;
}

body {
    min-width: 300px;
    padding: 10px;

    font-family: system-ui;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
