/*
 <samplecode>
 <abstract>
 Configures the appearance of the new tab page.
 </abstract>
 </samplecode>
 */
html {
    background-color: #600E22;
}

body {
    font-family: system-ui;
    min-width: 220px;
    text-align: center;
}

h1 {
  color: white;
}
