/*
 <samplecode>
 <abstract>
 Configures the appearance of the extension's popover.
 </abstract>
 </samplecode>
 */
body {
    font-family: system-ui;
    min-width: 220px;
    text-align: center;
}

img {
    width: 25px;
    vertical-inline: middle;
}

#title {
    font-size: 30px;
}

