<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sessions</key>
	<array>
		<dict>
			<key>sessionId</key>
			<integer>1</integer>
			<key>title</key>
			<string>Meet Background Assets</string>
			<key>essential</key>
			<true/>
			<key>URL</key>
			<dict>
				<key>relative</key>
				<string>https://devstreaming-cdn.apple.com/videos/wwdc/2022/110403/3/7B38146A-41F4-422B-A863-6E4277C76C6E/downloads/wwdc2022-110403_hd.mp4</string>
			</dict>
			<key>year</key>
			<integer>22</integer>
			<key>description</key>
			<string>Discover how you can use the Background Assets framework to download large files directly from your CDN and improve the initial launch experience of your apps and games. We&apos;ll show you how to schedule background downloads during initial app install, app updates, and periodically as someone uses the app. We&apos;ll also explore how you can manage scheduled downloads to make sure people have the content they want, when they want it.</string>
			<key>fileSize</key>
			<integer>90777353</integer>
			<key>thumbnailOffsetInSeconds</key>
			<integer>14</integer>
			<key>authors</key>
			<array>
				<string>Jared Jones</string>
			</array>
		</dict>
		<dict>
			<key>sessionId</key>
			<integer>2</integer>
			<key>title</key>
			<string>Localize your SwiftUI app</string>
			<key>essential</key>
			<false/>
			<key>URL</key>
			<dict>
				<key>relative</key>
				<string>https://devstreaming-cdn.apple.com/videos/wwdc/2021/10220/6/3866585A-3920-44B4-AB3F-03A446FCDE3A/downloads/wwdc2021-10220_hd.mp4</string>
			</dict>
			<key>year</key>
			<integer>21</integer>
			<key>description</key>
			<string>Learn how to localize your SwiftUI app and make it available to a global audience. Explore how you can localize strings in SwiftUI, including those with styles and formatting. We&apos;ll demonstrate how you can save time by having SwiftUI automatically handle tasks such as layout and keyboard shortcuts, and take you through the localization workflow in Xcode 13. To get the most out of this session and learn more about the Markdown language and AttributedString, check out &quot;What&apos;s new in Foundation&quot; from WWDC21.</string>
			<key>thumbnailOffsetInSeconds</key>
			<integer>9</integer>
			<key>fileSize</key>
			<integer>155384552</integer>
			<key>authors</key>
			<array>
				<string>Paul Borokhov</string>
				<string>Kate Kononenko</string>
			</array>
		</dict>
		<dict>
			<key>sessionId</key>
			<integer>3</integer>
			<key>title</key>
			<string>Manipulate data with TabularData</string>
			<key>essential</key>
			<false/>
			<key>URL</key>
			<dict>
				<key>relative</key>
				<string>https://devstreaming-cdn.apple.com/videos/tech-talks/10100/7/53BB7B01-5F85-4F5C-93F9-3DABEAB7585C/downloads/tech-talks-10100_hd.mp4</string>
			</dict>
			<key>year</key>
			<integer>21</integer>
			<key>description</key>
			<string>Discover how you can use the TabularData framework to load, explore, and manipulate unstructured data in Swift — whether you need to pre-process data for a machine learning task or digest data on-the-fly in your app. Learn how this framework can help you handle large datasets, join multiple tables of data together, and filter data programmatically. We&apos;ll also show you how a DataFrame can be used to drive all the data-centric features of your app.</string>
			<key>fileSize</key>
			<integer>62853372</integer>
			<key>thumbnailOffsetInSeconds</key>
			<integer>7</integer>
			<key>authors</key>
			<array>
				<string>Alejandro Isaza</string>
				<string>David Findlay</string>
			</array>
		</dict>
		<dict>
			<key>sessionId</key>
			<integer>4</integer>
			<key>title</key>
			<string>Metal Compute on the Mac</string>
			<key>essential</key>
			<false/>
			<key>URL</key>
			<dict>
				<key>relative</key>
				<string>https://devstreaming-cdn.apple.com/videos/tech-talks/10580/3/8702685B-149D-4D98-B6E6-D2FFC774C89E/downloads/tech-talks-10580_hd.mp4</string>
			</dict>
			<key>year</key>
			<integer>21</integer>
			<key>description</key>
			<string>Discover how you can take advantage of Metal compute on the latest MacBook Pro. Learn the fundamental principles of high-performance Metal compute and find out how you can take advantage of the framework to create better workflows for your development process and even better apps for creative pros.</string>
			<key>fileSize</key>
			<integer>51725625</integer>
			<key>thumbnailOffsetInSeconds</key>
			<integer>7</integer>
			<key>authors</key>
			<array>
				<string>Jason Fielder</string>
			</array>
		</dict>
		<dict>
			<key>sessionId</key>
			<integer>5</integer>
			<key>title</key>
			<string>Bring Sync to FileProvider</string>
			<key>essential</key>
			<true/>
			<key>URL</key>
			<dict>
				<key>relative</key>
				<string>https://devstreaming-cdn.apple.com/videos/tech-talks/10067/3/F8DADC3E-4CC2-4165-AD4A-5B6A2DBFCF29/downloads/tech-talks-10067_hd.mp4</string>
			</dict>
			<key>year</key>
			<integer>22</integer>
			<key>description</key>
			<string>Discover how you can sync files faster and more efficiently within your iPhone and iPad apps when you create a File Provider extension. Sync up with the File Provider team and learn how to build a modern File Provider for iOS. We&apos;ll show you how to architect your app to support seamless file sync, uploads, and downloads. And we&apos;ll explore how you can go stateless and fortify your file provider against unexpected conditions. To get the most out of this session, we recommend having experience with File Providers on macOS.</string>
			<key>fileSize</key>
			<integer>18479507</integer>
			<key>thumbnailOffsetInSeconds</key>
			<integer>270</integer>
			<key>authors</key>
			<array>
				<string>Johannes Fortmann</string>
			</array>
		</dict>
		<dict>
			<key>sessionId</key>
			<integer>6</integer>
			<key>title</key>
			<string>Creating an Accessible Reading Experience</string>
			<key>essential</key>
			<false/>
			<key>URL</key>
			<dict>
				<key>relative</key>
				<string>https://devstreaming-cdn.apple.com/videos/wwdc/2019/248ts94v3ev4q5/248/248_hd_creating_an_accessible_reading_experience.mp4</string>
			</dict>
			<key>year</key>
			<integer>19</integer>
			<key>description</key>
			<string>The styling and layout of text is a hallmark feature of an outstanding reading experience. Technologies such as CoreText and TextKit give you the tools you need to create a great text layout. Learn how to make an equally great accessible experience for VoiceOver by adopting the accessibility reading content protocol, adding automatic page turning, and customizing speech output.</string>
			<key>fileSize</key>
			<integer>404990836</integer>
			<key>thumbnailOffsetInSeconds</key>
			<integer>8</integer>
			<key>authors</key>
			<array>
				<string>Darren Minifie</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
