# Example .env file of private variables that can be added

# If this codebase is used for multiple apps, you might want to have set up separate mappings
APP_ID=43152345423
APP_BUNDLE_ID=com.example.yourapp

# The shared secret sent to the /verifyReceipt Endpoint
SHARED_SECRET=XXXXXXXXXXXXXX

# Offer Information (can be passed in at run-time)
SUBSCRIPTION_OFFERS_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----MIGTAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBHkwdwIBAQQgZKFrmwj0S3aSlllzeuSY1VRTnivTb6uJMT78BmnqHDmgCgYIKoZIzj0DAQehRANCAAQPvvulS9mJdq6ZpGJBaKY4v959Rmmpwk9UFQcX9vXS5Za6g0295Qv164BCC5NLN45XdhMGmmY1sh8HreQ0EoaY-----END PRIVATE KEY-----
SUBSCRIPTION_OFFERS_KEY_ID=C76V8DDKQ2

# Add Upgrade/Downgrade/Crossgrade Info
MONTHLY=com.example.monthly2
CROSSMONTHLY=com.example.semiAnnual
YEARLY=com.example.yearly2

# Example UI Messaging
# This could include any localized strings you might want to send as a response
BILLING_ERROR="Uh Oh!, We don't want to lose you! Please update your billing info!"
DEGRADED_WARNING="Wanting to do more than browse? Update your billing info to continue service."

# Managed Subscriptions
# Use Link to Provide in response
DEEP_LINK=https://apps.apple.com/account/subscriptions

# Example Variables to thin the response
RETURN_ONLY_ACTIONABLE=false
SHOW_MOVEMENTS=false
SHOW_TRANSACTIONS=false


# An Example Business Variable To Factor In For Offers
HOURS_WATCHED_THRESHOLD=80

# Example Business logic for number of renewals to trigger an offer
RENEWAL_OFFER_TARGET=5
