<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>utilityvehicle</key>
	<string>nonconsumable.utilityvehicle</string>
	<key>pickuptruck</key>
	<string>nonconsumable.pickuptruck</string>
	<key>5 boosts</key>
	<string>consumable.boosts.5</string>
	<key>10 boosts</key>
	<string>consumable.boosts.10</string>
	<key>15 boosts</key>
	<string>consumable.boosts.15</string>
	<key>20 boosts</key>
	<string>consumable.boosts.20</string>
	<key>25 boosts</key>
	<string>consumable.boosts.25</string>
	<key>30 boosts</key>
	<string>consumable.boosts.30</string>
	<key>fuel87</key>
	<string>consumable.fuel.87</string>
	<key>fuel89</key>
	<string>consumable.fuel.89</string>
	<key>fuel91</key>
	<string>consumable.fuel.91</string>
	<key>fuel93</key>
	<string>consumable.fuel.93</string>
	<key>1D diesel</key>
	<string>consumable.fuel.diesel.1D</string>
	<key>2D diesel</key>
	<string>consumable.fuel.diesel.2D</string>
	<key>SKDemo+ Standard</key>
	<string>plus.standard</string>
	<key>SKDemo+ Standard (shared)</key>
	<string>plus.standard.shared</string>
	<key>SKDemo+ Premium</key>
	<string>plus.premium</string>
	<key>SKDemo+ Premium (shared)</key>
	<string>plus.premium.shared</string>
	<key>SKDemo+ Pro</key>
	<string>plus.pro</string>
	<key>SKDemo+ Pro (shared)</key>
	<string>plus.pro.shared</string>
</dict>
</plist>
