<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSApplicationServices</key>
	<dict>
		<key>Browses</key>
		<array>
			<dict>
				<key>NSApplicationServiceIdentifier</key>
				<string>TicTacToe</string>
				<key>NSApplicationServiceUsageDescription</key>
				<string>TicTacToe allows you to use your nearby device to play against the TV.</string>
				<key>NSApplicationServicePlatformSupport</key>
				<array>
					<string>iOS</string>
					<string>iPadOS</string>
					<string>watchOS</string>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
