<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitVectorData</key>
	<data>
	KnFnz7/dUDyK51HqlhTlswav
	</data>
	<key>falsePositiveTolerance</key>
	<real>0.0001</real>
	<key>murmurSeed</key>
	<integer>3919904948</integer>
	<key>numberOfBits</key>
	<integer>144</integer>
	<key>numberOfBytes</key>
	<integer>18</integer>
	<key>numberOfHashes</key>
	<integer>10</integer>
	<key>numberOfItems</key>
	<integer>10</integer>
</dict>
</plist>
